version: '3'
services:
  redis:
    image: redis:5-alpine
    ports:
      - '6379:6379'
  worker:
    build:
      context: worker
    depends_on:
      - "redis"
    environment:
      - REDIS_QUEUE=redis
